/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 :root {
   --font-family-title: 'Open Sans Condensed', sans-serif;
   --font-family-text: 'Quicksand', sans-serif;
   --text-size: 12pt;
   --title-size: 20pt;
   --highlight-color: #61B7CA;
   --background-color: #343C4A;
 }

h2{
  font-family: var(--font-family-title);
  font-size: var(--title-size);
}
body {
  color: var(--background-color);
}
nav ul a,
nav .brand-logo {
  color: #444;
}

nav.white {
  height: 100px;
}

p {
  line-height: 1.5rem;
  font-family: var(--font-family-text);
  font-size: var(--text-size);
}

p a {
  color: var(--highlight-color);
}

.sidenav-trigger {
  color: #707070;
}

.parallax-container {
  min-height: 600px;
  width: 100%;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

}
  .parallax-container .section {
    background-size: cover;
  }

  .parallax-img {
    width: 100%;
    height: auto;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.container{
/*
  display: block;
  */
}

.image-fluid {

  width: 100%;
}

.image-original{

  width: 100%;
}

.gridder-close{
  line-height: 1rem;
  font-family: var(--font-family-text);
  font-size: var(--text-size);
  padding: 10px;
}
.gridder-nav{
  line-height: 1.5rem;
  font-family: var(--font-family-text);
  font-size: var(--text-size);
  padding: 10px;
}

.girdder-


.gridder{
  margin:0px;
  padding:0px;
  list-style-type:none
}

.gridder-container{

}
.gridder-list{
  display:inline-block;
  vertical-align:top
  margin-bottom:1%;
  margin-right:1%
}

.gridder-show{
  display:block;
  float:left;width:100%;
  position:relative;
  background:#EEE url("../images/loading-spin.svg") no-repeat center
}

.gridder-show.loading{
  background:#EEE url("../images/loading-spin.svg") no-repeat center
}

.gridder-content{
  display:none
}

.gridder-list{
  width:49.5%
}

.gridder-list:nth-child(n){

}

.gridder-list:nth-of-type(2n){
  margin-right:0;
  margin-bottom:0
}

.gridder-show{padding:20px;
  background:#EEE;
  margin-bottom:1%
}

.gridder-navigation .gridder-nav.disabled{
  opacity:.5
}

.gridder-list{
  cursor:pointer
}

.hasSelectedItem .gridder-list{
  opacity:.5
}
.hasSelectedItem .gridder-list.selectedItem{
  opacity:1
}
@media screen and (min-width: 700px){
  .gridder-list{
    width:30%
  }
  .gridder-list:nth-child(n){
    margin-bottom:1%;margin-right:1%
  }
  .gridder-list:nth-of-type(6n){
  margin-bottom:0;
  }
}


footer.page-footer {
  margin: 0;
}

/* hover overlay*/
.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--highlight-color);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  font-family: var(--font-family-text);
  text-align: center;
  font-size: 36px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}
