/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 :root {
   --font-family-title: 'Open Sans Condensed', sans-serif;
   --font-family-text: 'Quicksand', sans-serif;
   --text-size: 12pt;
   --title-size: 20pt;
   --highlight-color: #61B7CA;
   --background-color: #343C4A;
 }

h2{
  font-family: var(--font-family-title);
  font-size: var(--title-size);
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

body {
  color: var(--background-color);
}
nav ul a,
nav .brand-logo {
  color: var(--background-color);
}

nav .brand-logo {
    position:relative;
}

nav.white {
  height: 100px;
}

.navi {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav.white.nav-extended {
  height: 150px;
}

nav ul li {
    float: none;
}

.navi li {
    display: inline;
}

.navi a{
    display: inline-block;
    padding: 13px;
}

nav ul a {
  font-family: var(--font-family-title);
  font-size: var(--title-size);
}

nav ul li a:hover, a.active {
  color: var(--highlight-color);
  background-color: transparent;
}

nav {
  -webkit-box-shadow: none;
}

p {
  line-height: 1.5rem;
  font-family: var(--font-family-text);
  font-size: var(--text-size);
}

p a {
  color: var(--highlight-color);
}

.sidenav-trigger {
  color: #707070;
}

.parallax-container {
  min-height: 600px;
  width: 100%;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

}
  .parallax-container .section {
    background-size: cover;
  }

  .parallax-img {
    width: 100%;
    height: auto;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.image-fluid {

  width: 100%;
}

.image-original{

  width: 100%;
}

#endrow1, #endrow2, #endrow3{
  margin-right: 0;
}

.gridder-close{
  line-height: 1rem;
  font-family: var(--font-family-text);
  font-size: var(--text-size);
  padding: 10px;
}
.gridder-nav{
  line-height: 1.5rem;
  font-family: var(--font-family-text);
  font-size: var(--text-size);
  padding: 10px;
}

ul.gridder {
  margin-top: 0;
}

.gridder{
  margin:0px;
  padding:0px;
  list-style-type:none;
}

.gridder-list{
  display:inline-block;
  vertical-align:top;
  margin-bottom:1%;
  margin-right:1%
}

.gridder-show{
  display:block;
  float:left;
  width:98.5%;
  position:relative;

}

.gridder-content{
  display:none
}

.gridder-list{
  width:49.5%
}

.gridder-list:nth-of-type(2n){
  margin-right:0;
  margin-bottom:0
}

.gridder-show{
  padding:20px;
  background:#EEE;
  margin-bottom:1%
}

.gridder-navigation .gridder-nav.disabled{
  opacity:.5
}

.gridder-list{
  cursor:pointer
}

.hasSelectedItem .gridder-list{
  opacity:.5
}
.hasSelectedItem .gridder-list.selectedItem{
  opacity:1
}

footer.page-footer {
  margin: 0;
}

div.last-row {
  text-align: left;
  padding-left: 3px;
}

/* hover overlay*/
.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
  float: left;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--highlight-color);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  font-family: var(--font-family-title);
  text-align: center;
  font-size: var(--title-size);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}


/* Media */
@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
    nav ul li {
    float: none;
    }

}

/*Responsive Media Screen (only for Mobile and iPad)*/
/*General Settings*/
@media only screen and (min-width: 993px) {
  .container {
    text-align: center;
  }
    nav ul li {
    float: none;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        position: absolute;
    }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 699px) {
    .gridder-list {
        width: 48%;
    }
    nav ul li {
    float: none;
    }

    #endrow1 {
      margin-right: 1%;
    }
}

@media screen and (min-width: 700px){
  .gridder-list{
      width:31.9%
    }
  .gridder-list:nth-child(n){
      margin-bottom:1%;margin-right:1%
    }
  .gridder-list:nth-of-type(6n){
      margin-bottom:0;
    }
    nav ul li {
        float: none;
    }
    .navi {
        display: inline;
    }

}

/*iPad Landscape Mode*/
@media screen and (max-width: 1050px) {
    .container{
        text-align: center;
        max-width: none;
    }
    nav ul li {
    float: none;
    }
    
    .parallax-container {
      min-height: 450px;
  }
    
}

/* iPad Vertical Mode*/
@media screen and (max-width: 780px) {
    .parallax-container {
        min-height: 350px;
    }
    .navi {
        display: inline;
    }
    nav .brand-logo{
        position: absolute;
    } 
}

/* iPhone 6/ 7/ 8 Landscape Mode*/
@media screen and (max-width: 736px){
    .parallax-container {
        min-height: 314px;
    }
    .navi {
        display: inline;
    }
    nav ul a, .hvrbox .hvrbox-text, h2{
      font-size: 15pt;
    }

    p {
      font-size: 12pt;
    }
}

/* iPhone 6/ 7/ 8 Vertical Mode*/
@media screen and (max-width: 550px){
    .gridder-list {
        width: 48%;
    }
    .parallax-container {
        min-height: 200px;
    }
     .navi {
        display: inline;
    }
}

