/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 :root {
   --font-family-title: 'Open Sans Condensed', sans-serif;
   --font-family-text: 'Quicksand', sans-serif;
   --text-size: 12pt;
   --title-size: 20pt;
   --highlight-color: #61B7CA;
   --background-color: #343C4A;
 }

h2{
  font-family: var(--font-family-title);
  font-size: var(--title-size);
}
body {
  color: var(--background-color);
}
nav ul a,
nav .brand-logo {
  color: #444;
}

nav.white {
  height: 100px;
}

p {
  line-height: 1.5rem;
  font-family: var(--font-family-text);
  font-size: var(--text-size);
}

p a {
  color: var(--highlight-color);
}

.sidenav-trigger {
  color: #707070;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

}
  .parallax-container .section {
    width: 100%;
    background-size: cover;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
